.container
  .content
    .row
      .span8
        = alert_message_for(flash)
        %h1 Welcome!
        %p This can be some welcome message.
      .span4
        .well.welcome-signup
          %h2 Join #{t('application.name')} right now!
          = simple_form_for(@user, :as => :user, :url => registration_path(:user), :html => { :class => 'form-stacked' }) do |f|
            = f.email_field :email, :placeholder => 'Email', :class => 'xlarge'
            = f.password_field :password, :placeholder => 'Password', :class => 'xlarge'
            = f.password_field :password_confirmation, :placeholder => 'Confirm your password', :class => 'xlarge'
            .form-actions
              = f.submit 'Sign up', :class => 'btn-primary btn-large'
              = link_to 'Or, sign up with Facebook', omniauth_authorize_path(:user, :facebook)
