.container
  .content
    .row
      .span8
        = alert_message_for(flash)
        %h1 Welcome!
        %p This can be some welcome message.
      .span4
        .well.welcome-sign-up
          %h2 Join #{t('application.name')} right now!
          = simple_form_for(@user, :as => :user, :url => registration_path(:user), :html => { :class => 'validate' }) do |f|
            = f.input :email, :label => false, :placeholder => 'Email', :required => true
            = f.input :password, :label => false, :placeholder => 'Password', :required => true
            = f.input :password_confirmation, :label => false, :placeholder => 'Confirm your password', :required => true
            .form-actions
              = f.button :submit, 'Sign up', :class => 'btn-primary btn-large'
              - if Devise.mappings[:user].omniauthable?
                Or, sign up using
                = User.omniauth_providers.collect { |provider| link_to(provider.to_s.titleize, omniauth_authorize_path(:user, provider)) }.to_sentence
