.container
  .content
    .row
      .span16
        = alert_block_for(resource.errors)
        = twitter_bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f|
          = f.inputs "Edit #{resource_name.to_s.humanize}", :class => 'edit' do
            = f.file_field :avatar, image_tag(current_user.avatar.url, :size => '50x50', :alt => 'Current avatar') do
              = f.toggles do
                = f.check_box :remove_avatar, 'Remove avatar'
            = f.hidden_field :avatar_cache
            = f.email_field :email, :placeholder => 'me@example.com'
            = f.password_field :password do
              %span.help-block (Leave blank if you don't want to change it.)
            = f.password_field :password_confirmation
            = f.password_field :current_password do
              %span.help-block (We need your current password to confirm your changes.)
          = f.actions do
            = f.submit 'Update'

        %p
          Unhappy?
          = link_to 'Cancel my account', registration_path(resource_name), :confirm => "Are you sure?", :method => :delete
        %p= link_to 'Back', :back
