.container
  .content
    %h2 Edit #{resource_name.to_s.humanize}
    .row
      .span8
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f|
          = f.error_notification
          %fieldset
            %legend Need to change something?
            = f.input :avatar, :as => :image_preview, :input_html => { :preview_version => :tiny }
            = f.input :email, :required => true, :autofocus => true
            = f.input :password, :hint => "Leave it blank if you don't want to change it.", :required => false
            = f.input :password_confirmation, :required => false
            = f.input :current_password, :hint => 'We need your current password to confirm your changes.', :required => true
            .form-actions
              = f.button :submit, 'Update', :class => 'btn-primary btn-large'
      .span4
        %h3 Cancel my account
        %p Unhappy? #{link_to 'Cancel my account', registration_path(resource_name), :confirm => 'Are you sure?', :method => :delete}.
