!!! 5
%html{:lang => 'en', :style => yield_for(:html_style, nil)}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}

    %title= yield_for :title, "#{t('application.slogan')} - #{t('application.name')}"

    = stylesheet_link_tag :application
    = javascript_include_tag :application
    /[if lt IE 9]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_tag '$.fx.off = true;' if Rails.env.test?

    = csrf_meta_tags
    = favicon_link_tag

  %body{:class => body_css_classes}
    = render 'shared/navbar'
    = yield
