!!! 5
%html{:lang => 'en', :'xmlns:og' => 'http://ogp.me/ns', :'xmlns:fb' => 'https://www.facebook.com/2008/fbml', :style => yield_for(:html_style, nil)}
  %head
    %meta{:charset => 'utf-8'}

    %title= yield_for(:title, I18n.t('application.tagline')) + ' - ' + I18n.t('application.name'))

    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = javascript_tag '$.fx.off = true;' if Rails.env.test?
    /[if lt IE 9]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'

    = csrf_meta_tags
    = favicon_link_tag

  %body{:class => body_css_classes}
    = render 'shared/topbar'
    = yield
