- @switch_navbar = true # "Already have an account?" to "Don't have an account?"

.container
  .content
    %h2 Sign in
    .row
      .span8
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal validate' }) do |f|
          = alert_message_for(flash)
          %fieldset
            %legend Use your credentials to get your account logged in!
            = f.input :email, :required => true, :autofocus => true
            = f.input :password, :required => true
            - if devise_mapping.rememberable?
              = f.input :remember_me, :as => :boolean
            .form-actions
              = f.button :submit, 'Sign in', :class => 'btn-primary btn-large'
              - if devise_mapping.omniauthable?
                Or, sign in using
                = resource_class.omniauth_providers.collect { |provider| link_to(provider.to_s.titleize, omniauth_authorize_path(resource_name, provider)) }.to_sentence
      .span4
        %h3 Can't remember?
        = link_to 'Yep. I forgot my password.', new_password_path(resource_name)
