.container
  .content
    .row
      .span16
        = alert_block_for(resource.errors)
        = twitter_bootstrap_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
          = f.inputs 'Resend unlock instructions', :class => 'resend-unlock' do
            = f.email_field :email
          = f.actions do
            = f.submit 'Resend unlock instructions'
        = render :partial => 'devise/shared/links'
